/* CSS Variables */
:root {
    --priColor: #00a3e0;
    --priColor2: #9e9e9e;
    --priColorFade: #00a3e0;
    --secColor: #ffffff;
    --textColor: #ffffff;
    --textColorw:#ffffff;
    --bgColor: #f5f5f5;
    --BlaGB: #030303;
    --WhiBg: #ffffff;
    --white-light:#1b1b1b;
    --btnNavtext: #00a3e0; 
    --smallText: #ffffff; 
    --headerTextColor:#00a3e0;
}

body{
    position: relative;
}

.map{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:2vw 3vw;
    border: var(--priColor) dashed .2px;

}
.map iframe{
    width: 100%;
    height:100%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.about-header{
    width: 100%;
    height: 20vw;   
    background-color: var(--Offwhite);
     display: flex;
    align-items: center;    
    justify-content: center;
    padding: 5vw;
    -webkit-animation:colorchange 15s infinite alternate;
}
@-webkit-keyframes colorchange {
    0% {
      
      background-color: #0e55ee;
    }
    
    10% {
      
      background-color: #418DCD;
    }
    
    20% {
      
      background-color: #418DCD;
    }
    
    30% {
      
      background-color: #418DCD;
    }
    
    40% {
      
      background-color: #031996;
    }
    
    50% {
      
      background-color: #202020;
    }
    
    60% {
      
      background-color: #545C5E;
    }
    
    70% {
      
      background-color: #545C5E;
    }
    80% {
   
      background-color: #001d11;
    }
    
    90% {
   
      background-color: #03965B;
    }
    
    100% {
      
      background-color: #418DCD;
    }
  }

.about-header p {
    font-size: 5vw;
    color: var(--WhiBg);
    font-weight: bold;
    background-image: url(pablo-lancaster-jones-j9blCRSZ_Q4-unsplash.jpg); 
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    position: relative;
    z-index: 1; 

}
.about-us-content-box{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .2vw 15vw;
    gap: 5vw;

}
.side1, .side2{
    flex: 1;
    
}

/* Contact Us Page - map */
.side2 iframe{
    width: 100%;
    height: 100%;
}
.side1 p{
    color: var(--textColor);
    font-weight: 300;
    line-height: 2.5vw;
    font-size: 2vw;
}
.side1 span, .side2 span{
    font-weight: bold;
    color: var(--priColor);
}

.blueSky-Units{
    width: 100%;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0vw 15vw;
    gap: 3vw;
}

#myVideo{
    width: 100%;
    height: 100%;
    border: var(--priColor) 2px solid;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
   
}

.units-info{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    gap: 1vw;
    text-align: left;
}

.units-info h1{
    color: #3a3a3a;
    line-height: 2vw;
    font-size: 2vw;
    text-align: left;
    width: 100%;

}

.units-heading{
    width: 70%;
    height: 10vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.units-heading h1{
    color: #3a3a3a;
}



.units-Illustration{
    width: 100%;
    height: 55vh;
    padding: 0vw 5vw;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 1vw;
    margin-bottom: 40px;
/*     border: #3a3a3a solid 2px;
 */}

.unitSections, .unitsLiing{
flex: 1;
height: 100%;
display: flex;
flex-flow: column wrap;
justify-content: center;
align-items: center;
background-color: var(--priColor);
padding: 1vw;
gap: .6vw;
border-radius: 12px;
margin-top: 1vw;
text-decoration: none;
transition: .3s all;
-webkit-transition: .3s all;
-moz-transition: .3s all;
-ms-transition: .3s all;
-o-transition: .3s all;


}
.unitSections:hover{
    background-color: #41657a;

}

.unitSections img{
    width: 30%;
    padding: 2px;

}
.unitSections p{
    text-align: center;
    
}
.unit-heading{
    font-weight: bold;
    color: #181818;
    font-size: 20px;
}
.unit-heading-info{
    color: var(--textColorw);
}
.click{
color: var(--textColorw);
font-weight: 300;
letter-spacing: .2vw;
opacity: 0;
transition: .3s all;
-webkit-transition: .3s all;
-moz-transition: .3s all;
-ms-transition: .3s all;
-o-transition: .3s all;
}
.unitSections:hover .click{
    opacity: 1;
    letter-spacing: .6vw;

}

/* eCatalogue Page */
#slider{
    display: flex;
    align-items: start;
    justify-content: start;
}
#slider img{
    object-position: top;
}





    


 




        
    
